---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Contacts Plus – Watch">
  <main
    class="flex flex-col justify-center items-center mt-20 pb-8 w-full gap-2"
  >
    <h1 class="w-full md:w-1/2 text-5xl font-bold tracking-tight">Watch</h1>
    <h2 class="w-full md:w-1/2 text-2xl">This page is in progress!</h2>
    <p class="w-full md:w-1/2">
      This page will list a bunch of ways to watch our podcast, live and the
      recordings. It will be an entrypoint to viewing our vast archive of
      episodes from the last 4 seasons.
    </p>
  </main>
</BaseLayout>
