---
import { readItems } from "@directus/sdk";
import directus from "../../../lib/directus";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import LiveCTA from "../../components/LiveCTA.astro";
import EpisodeThumb from "../../components/EpisodeThumb.astro";

const episodes = await directus.request(
  readItems("videos", {
    fields: [
      "episode_num",
      "title",
      "published_at",
      "thumbnail",
      { season: ["season_num"] },
    ],
    sort: ["-published_at"],
    limit: 25,
  }),
);
---

<BaseLayout title="Contacts Plus – Episodes">
  <main class="mb-12 mt-20 flex w-full flex-col items-center">
    <hero class="relative h-[30em] w-full">
      <img
        class="h-[30em] w-full overflow-hidden object-cover object-[center_15%]"
        src="/img/petorglitchin.jpg"
      />
      <div
        class="absolute bottom-0 w-full px-4 py-6 backdrop-blur-sm backdrop-brightness-50 md:px-24"
      >
        <h1
          class="pb-2 text-5xl font-bold tracking-tight text-white md:text-7xl"
        >
          Episodes
        </h1>
        <p class="max-w-[50em] leading-relaxed text-white">
          Browse the latest episodes of Contacts Plus.
        </p>
      </div>
    </hero>
    <LiveCTA />
    <hr class="mb-8 w-72 border-t-2 border-slate-700" />
    <section
      id="browse"
      class="flex w-full flex-col items-center px-4 md:px-24"
    >
      <h2 class="mb-4 text-center text-5xl font-bold tracking-tight">
        Browse the <span
          class="bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent"
          >LATEST</span
        >
      </h2>
      <div
        class="mb-8 flex flex-row flex-wrap items-stretch justify-center gap-2"
      >
        {episodes.map((episode) => <EpisodeThumb episode={episode} />)}
      </div>
    </section>
    <p>I can't add pagination because Astro is stupid.</p>
  </main>
</BaseLayout>
