---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found">
  <main
    class="mb-8 mt-28 flex w-full flex-col items-center justify-center px-8 md:px-24"
  >
    <h1 class="w-full text-5xl font-bold tracking-tight">404 Not Found</h1>
    <p class="mt-4 w-full">
      The page you are looking for does not exist. &colon;&lt;
    </p>
  </main>
</BaseLayout>
