---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contacts Plus – Crew">
  <main
    class="mb-8 mt-28 flex w-full flex-col items-center justify-center px-8 md:px-24"
  >
    <h1 class="w-full text-5xl font-bold tracking-tight">Crew</h1>
    <p class="mt-4 w-full">
      This is the crew page. It will contain information about the crew members.
    </p>
    <p class="w-full">
      I'm not quite done with this page yet so please feel free to check out <a
        href="/support"
        class="underline">this one</a
      > instead!
    </p>
    <p class="mt-4 w-full">
      ~ <a
        class="text-purple-500 hover:underline"
        href="https://www.nootsponge.com">NootSponge</a
      > 💜
    </p>
  </main>
</BaseLayout>
