---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts Plus">
  <main
    class="bg-[url('/img/website_in_progress.png')] bg-center bg-contain bg-black w-full h-screen"
  >
  </main>
</Layout>
