---
import { getNiceDate } from "../content/config";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const episodes = await getCollection("episodes");

// airDate is a string, so we need to convert it to a Date object
const latestEpisodes = episodes
  .sort(
    (a, b) =>
      new Date(b.data.airDate).getTime() - new Date(a.data.airDate).getTime()
  )
  .slice(0, 3);
---

<style>
  .min-h-content {
    min-height: calc(100vh - 9rem);
  }
</style>

<script>
  const watchNow: HTMLElement = document.getElementById("watch-now")!;

  watchNow.addEventListener("mouseover", () => {
    if (
      watchNow.innerText != "Touch the cow, do it now" &&
      Math.random() > 0.97
    ) {
      watchNow.innerText = "Touch the cow, do it now";
    }
  });

  const tagline: HTMLElement = document.getElementById("tagline")!;

  // choose random quote
  const list = [
    "Bet'cha we can talk about poop more than you.",
    "Those special ED teachers were right.",
    "Apes together, podcasters.",
    "Two dogs, a bird, angry Jell-O, and an Italian.",
    "An existential crisis away from becoming a boyband.",
    "A pack of hotdogs made of forgetfulness.",
    "Four-and-a-half men, you decide what we mean by that.",
    "An ever growing debt of saltines.",
    "What happens when rural americans get a little too close to becoming K-pop idols.",
    "We're proud of you, sondaughter.",
    "Can't spell Entertainment without eeatinmetr.",
    "We can tell if they're lying by their taste.",
    "VR personalities that should probably stay there.",
    "After annoying Noot seven times, your next pizza is FREE.",
  ];

  tagline.innerText = list[Math.floor(Math.random() * list.length)];
</script>

<BaseLayout title="Contacts Plus – Metaverse Content">
  <main class="min-h-content mt-20 flex w-full flex-col items-center">
    <artcle class="flex w-full flex-col items-center space-y-10 last:mb-10">
      <div
        class="relative isolate flex h-[30rem] w-full justify-center overflow-hidden"
      >
        <img
          class="absolute inset-0 h-full w-full object-cover object-center brightness-50"
          src="/img/pexels-rbrigant44-771881.png"
        />
        <div
          class="absolute inset-y-8 flex w-3/4 flex-row items-center justify-center space-x-10"
        >
          <img class="hidden w-80 md:block" src="/img/wolf-rgb.png" />
          <div class="w-full md:w-1/2">
            <h1 class="text-6xl font-bold tracking-tight md:text-7xl">
              Content straight from the metaverse.
            </h1>
            <p class="mt-5 text-xl font-light leading-8" id="tagline">
              An existential crisis away from becoming a boyband.
            </p>
          </div>
        </div>
      </div>

      <div id="watch" class="flex w-5/6 flex-col items-center lg:w-1/2">
        <div class="text-center">
          <p class="text-base font-semibold leading-7 text-blue-600">
            You should
          </p>
          <h2 id="watch-now" class="text-4xl font-bold tracking-tight">
            <a href="/watch" class="hover:underline">Watch Now</a>
          </h2>
        </div>
        <div
          class="flex w-full flex-row flex-wrap items-center justify-center gap-3 pt-4"
        >
          <div
            class="flex w-full flex-col items-center self-stretch rounded border border-slate-700 bg-slate-900 p-5 text-center sm:w-1/3"
          >
            <h3 class="text-xl font-bold tracking-tight">Live</h3>
            <p>Every Thursday, Friday, and Saturday 8pm ET</p>
            <a href="https://www.twitch.tv/contactsplus" class="mt-4 h-12 w-12"
              ><img src="/img/twitch_color.png" /></a
            >
          </div>
          <div
            class="flex w-full flex-col items-center self-stretch rounded border border-slate-700 bg-slate-900 p-5 text-center sm:w-1/3"
          >
            <h3 class="text-xl font-bold tracking-tight">Video on Demand</h3>
            <p>Full episode list available</p>
            <p class="text-sm text-slate-600">
              (it might take some time for us to keep it up-to-date)
            </p>
            <a
              class="mt-4 rounded border border-slate-700 bg-blue-600 p-2 font-bold transition-colors hover:bg-blue-800"
              href="/watch">Watch</a
            >
          </div>
        </div>

        <div class="mt-10 flex w-full flex-col items-center">
          <h2 class="text-3xl font-bold tracking-tight">Latest Episodes</h2>
          <div
            class="mt-5 flex w-full flex-row flex-wrap items-stretch justify-center gap-4"
          >
            {
              latestEpisodes.map((episode) => (
                <div class="flex w-full flex-col rounded-lg border border-slate-700 transition hover:bg-slate-800 sm:w-72">
                  <a href={"/episodes/" + episode.id}>
                    <img
                      class="h-auto w-full rounded-t-lg"
                      src={
                        "https://i.ytimg.com/vi/" +
                        episode.data.ytID +
                        "/maxresdefault.jpg"
                      }
                    />
                    <div class="w-full p-4">
                      <h3 class="text-xl font-bold">
                        S{episode.data.season} E{episode.data.episode}
                      </h3>
                      <p class="mt-2">{episode.data.title}</p>
                      <p class="mt-2 text-sm text-slate-600">
                        {getNiceDate(episode.data.airDate)}
                      </p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div
        id="support"
        class="w-4/5 rounded-lg border border-slate-700 bg-gradient-to-br from-[#020617] to-blue-600 lg:w-3/5"
      >
        <div class="m-10">
          <p class="text-base font-semibold leading-7 text-blue-600">
            You should
          </p>
          <h2 class="text-4xl font-bold tracking-tight">
            <a href="/support" class="hover:underline">Support Us</a>
          </h2>
          <p class="mt-4 max-w-md">
            We use donations to increase the production quality of our content
            and award our staff for their hard work. Like <a
              href="updateme"
              class="underline">this</a
            >.
          </p>
          <p class="mt-4 max-w-md">
            You can support us by donating to our Patreon, subscribing to our
            Twitch channel, or just by being apart of the community!
          </p>
          <div class="mt-8 flex flex-row items-center justify-start">
            <a href="https://www.patreon.com/contactsplus" class="mr-4 w-12"
              ><img src="/img/patreon.png" /></a
            >
            <a href="https://www.twitch.tv/contactsplus" class="mr-4 w-12"
              ><img src="/img/twitch_white.png" /></a
            >
            <a href="https://youtube.com/@contactsplus" class="mr-4 w-12"
              ><img src="/img/youtube_white.png" /></a
            >
            <a href="https://discord.gg/zju2NzpnjF" class="mr-2 w-12"
              ><img src="/img/discord.png" /></a
            >
            <a
              href="https://cyberfurz.social/@contacts_plus"
              rel="me"
              class="mr-4 w-12"><img src="/img/fediverse.png" /></a
            >
          </div>
        </div>
      </div>
      <div id="team" class="w-5/6">
        <div class="text-center">
          <p class="text-base font-semibold leading-7 text-blue-600">
            You should
          </p>
          <h2 class="text-4xl font-bold tracking-tight">
            <a href="/crew" class="hover:underline">Meet the Crew</a>
          </h2>
        </div>
        <div
          class="mt-10 flex flex-row flex-wrap items-stretch justify-center gap-8 text-center"
        >
          <div
            class="flex w-60 flex-col items-center rounded-lg border border-slate-700 bg-slate-900 p-4 md:w-48"
          >
            <img
              src="/img/wolf.jpg"
              class="h-32 w-32 rounded-full object-cover"
            />
            <h3 class="mt-4 text-xl font-bold tracking-tight">
              Wolf Seisenbacher
            </h3>
            <p class="mt-2 text-lg font-medium tracking-tight">
              Creator &amp; Host
            </p>
            <div
              class="mt-4 flex flex-row items-center justify-center space-x-3"
            >
              <a href="https://discord.com/users/125788463831318528" class="w-8"
                ><img src="/img/discord.png" /></a
              >
            </div>
          </div>
          <div
            class="flex w-60 flex-col items-center rounded-lg border border-slate-700 bg-slate-900 p-4 md:w-48"
          >
            <img
              src="/img/nootsponge.jpg"
              class="h-32 w-32 rounded-full object-cover"
            />
            <h3 class="mt-4 text-xl font-bold tracking-tight">NootSponge</h3>
            <p class="mt-2 text-lg font-medium tracking-tight">Producer</p>
            <div
              class="mt-4 flex flex-row items-center justify-center space-x-3"
            >
              <a href="https://discord.com/users/148680149548793856" class="w-8"
                ><img src="/img/discord.png" /></a
              >
              <a href="https://latex.monster/nootsponge" class="w-8"
                ><img src="/img/fediverse.png" /></a
              >
              <a href="https://nootsponge.com" class="w-8"
                ><img src="/img/link-solid.png" /></a
              >
            </div>
          </div>
          <div
            class="flex w-60 flex-col items-center rounded-lg border border-slate-700 bg-slate-900 p-4 md:w-48"
          >
            <img
              src="/img/glitch.jpg"
              class="h-32 w-32 rounded-full object-cover"
            />
            <h3 class="mt-4 text-xl font-bold tracking-tight">GlitchFlux</h3>
            <p class="mt-2 text-lg font-medium tracking-tight">
              Production Design
            </p>
            <div
              class="mt-4 flex flex-row items-center justify-center space-x-3"
            >
              <a href="https://discord.com/users/240615441624596481" class="w-8"
                ><img src="/img/discord.png" /></a
              >
              <a href="https://linktr.ee/glitchflux" class="w-8"
                ><img src="/img/link-solid.png" /></a
              >
            </div>
          </div>
          <div
            class="flex w-60 flex-col items-center rounded-lg border border-slate-700 bg-slate-900 p-4 md:w-48"
          >
            <img
              src="/img/raspberry.png"
              class="h-32 w-32 rounded-full bg-slate-500"
            />
            <h3 class="mt-4 text-xl font-bold tracking-tight">
              RaspberryKitty1
            </h3>
            <p class="mt-2 text-lg font-medium tracking-tight">
              Socials &amp; Moderator
            </p>
            <div
              class="mt-4 flex flex-row items-center justify-center space-x-3"
            >
              <a href="https://discord.com/users/341822915957751820" class="w-8"
                ><img src="/img/discord.png" /></a
              >
              <a href="https://twitter.com/raspberrykitty1" class="w-8"
                ><img src="/img/twitter.png" /></a
              >
              <a href="https://cyberfurz.social/@raspberrykitty1" class="w-8"
                ><img src="/img/fediverse.png" /></a
              >
            </div>
          </div>
        </div>
      </div>
    </artcle>
  </main>
</BaseLayout>
