---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

import { getNiceDate } from "../content/config";
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";

import LiveCTA from "../components/LiveCTA.astro";
import EpisodeThumb from "../components/EpisodeThumb.astro";

const episodes = await directus.request(
  readItems("videos", {
    fields: [
      "episode_num",
      "title",
      "published_at",
      "thumbnail",
      { season: ["season_num"] },
    ],
    sort: ["-published_at"],
    limit: 15,
  }),
);
---

<BaseLayout title="Contacts Plus – Watch">
  <main class="mt-20 flex w-full flex-col items-center">
    <hero class="relative h-[30em] w-full">
      <img
        class="h-[30em] w-full overflow-hidden object-cover"
        src="/img/glitch_goofy.jpg"
      />
      <div
        class="absolute bottom-0 w-full px-4 py-6 backdrop-blur-sm backdrop-brightness-50 md:px-24"
      >
        <h1 class="text-5xl font-bold tracking-tight text-white md:text-7xl">
          Watch
        </h1>
        <p class="max-w-[50em] leading-relaxed text-white">
          Dive into the world of late-night live talk shows with Contacts Plus.
          Tune in live or watch past episodes on YouTube for endless
          entertainment.
        </p>
      </div>
    </hero>
    <LiveCTA />
    <hr class="mb-8 w-72 border-t-2 border-slate-700" />
    <section id="browse" class="w-full px-4 md:px-24">
      <h2 class="mb-8 text-center text-5xl font-bold tracking-tight">
        Browse the <span
          class="bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent"
          >ARCHIVE</span
        >
      </h2>
      <div
        class="mb-8 flex flex-row flex-wrap items-stretch justify-center gap-2"
      >
        <a
          href="/formats"
          class="relative h-[10em] w-full overflow-hidden rounded-lg border border-slate-700 transition hover:brightness-110 md:w-1/5"
        >
          <img
            class="h-full w-full object-cover object-bottom"
            src="/img/angynoot.jpg"
          />
          <div
            class="absolute inset-0 w-full px-4 py-6 backdrop-blur-sm backdrop-brightness-75"
          >
            <h3 class="text-2xl font-bold">Formats</h3>
            <p>
              Explore the different segments and games we play on Contacts Plus.
            </p>
          </div>
        </a>
        <a
          href="/seasons"
          class="relative h-[10em] w-full overflow-hidden rounded-lg border border-slate-700 transition hover:brightness-110 md:w-1/5"
        >
          <img
            class="h-full w-full object-cover"
            src="/img/woolsoxenbacher.jpg"
          />
          <div
            class="absolute inset-0 w-full px-4 py-6 backdrop-blur-sm backdrop-brightness-75"
          >
            <h3 class="text-2xl font-bold">Seasons</h3>
            <p>Browse through each season of Contacts Plus.</p>
          </div>
        </a>
        <a
          href="/episodes"
          class="relative h-[10em] w-full overflow-hidden rounded-lg border border-slate-700 transition hover:brightness-110 md:w-1/5"
        >
          <img
            class="h-full w-full object-cover"
            src="/img/petorglitchin.jpg"
          />
          <div
            class="absolute inset-0 w-full px-4 py-6 backdrop-blur-sm backdrop-brightness-75"
          >
            <h3 class="text-2xl font-bold">Latest</h3>
            <p>
              Watch the latest episodes of Contacts Plus and catch up on what
              you missed.
            </p>
          </div>
        </a>
      </div>
    </section>
    <hr class="mb-8 w-72 border-t-2 border-slate-700" />
    <section id="episodes" class="mb-12">
      <div
        class="flex w-full flex-col items-center justify-center gap-4 px-4 md:px-24"
      >
        <h2 class="text-5xl font-bold tracking-tight">Episodes</h2>
        <p class="max-w-[50em] text-center">
          Watch the latest episodes of Contacts Plus and catch up on what you
          missed.
        </p>
        <div class="my-3 flex flex-row flex-wrap justify-center gap-4">
          {episodes.map((episode) => <EpisodeThumb episode={episode} />)}
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
