---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contacts Plus – Watch">
  <main
    class="mb-8 mt-28 flex w-full flex-col items-center justify-center gap-2 px-8 md:px-24"
  >
    <h1 class="w-full text-5xl font-bold tracking-tight">Watch</h1>
    <h2 class="w-full text-2xl">This page is in progress!</h2>
    <p class="w-full">
      This page will list a bunch of ways to watch our podcast, live and the
      recordings. It will be an entrypoint to viewing our vast archive of
      episodes from the last 4 seasons.
    </p>
  </main>
</BaseLayout>
