---
import HeaderLinks from "./HeaderLinks.astro";

export interface Props {
  darkHeader?: boolean;
}

const { darkHeader } = Astro.props;
---

<!-- <script>
  const header = document.getElementById("header")!;

  window.addEventListener("scroll", function () {
    if (window.scrollY > 0) {
      header.classList.add("bg-red-800");
      header.classList.remove("bg-slate-900", "border-b");
    } else {
      header.classList.add("bg-slate-900", "border-b");
      header.classList.remove("bg-red-800");
    }
  });
</script> -->
<script is:inline>
  function toggleMobileMenu() {
    const mobileMenu = document.getElementById("mobile-menu");
    mobileMenu.classList.toggle("translate-x-full");
  }
</script>

<header
  id="header"
  class="absolute inset-0 h-20 text-white border-b border-slate-950/10 flex justify-center items-center w-screen overflow-x-clip z-50"
>
  <div
    class="px-8 md:px-24 w-full flex flex-row justify-between sm:justify-start"
  >
    <a href="/"
      ><img
        src="/img/c+ studios wordmark trans.png"
        class="h-10 w-auto invert"
      /></a
    >
    <nav
      class="hidden font-semibold ml-10 sm:flex flex-row items-center space-x-5"
    >
      <HeaderLinks />
    </nav>
    <div class="text-right flex sm:hidden">
      <button
        type="button"
        class="p-2 inline-flex items-center justify-center rounded-md focus:ring"
        onclick="toggleMobileMenu()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </div>

  <nav
    id="mobile-menu"
    class="fixed top-0 right-0 h-screen w-full transition-transform duration-200 translate-x-full flex flex-row sm:hidden"
  >
    <button onclick="toggleMobileMenu()" class="h-screen w-1/6 cursor-default"
    ></button>
    <div
      class="bg-red-800 border-l h-screen w-5/6 border-slate-900 p-8 flex flex-col items-start"
    >
      <button
        type="button"
        class="p-2 inline-flex items-center justify-center rounded-md focus:ring"
        onclick="toggleMobileMenu()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
      <div
        class="ml-3 font-semibold text-lg flex flex-col items-start space-y-2"
      >
        <HeaderLinks />
      </div>
    </div>
  </nav>
</header>
