---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/img/contactsplus_white.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A late-night Twitch show in virtual reality."
    />
    <meta name="theme-color" content="#cb271b" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-slate-100">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
